/root/0x01_emacs /root/0x02_emacs /root/0x02_vi /root/0x03_vi /root/alx-pre_course /root/alx_programme /root/alx-zero_day /root/coding /root/interesting /root/is /root/navigation /root/new_school /root/school /root/school_is_amazing /root/shell /root/so_cool /root/software engineering
